### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IntelliJ IDEA project files
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/

### Mac OS ###
.DS_Store

### Other ###
*.xml
*.iml